.principal {
    padding:40px 15px;
    text-align: center;
}

#logo:hover span{
    color:#c41230;
}

.img-box img#img-hover {
    display: none;
 }
 
 #logo:hover img#img-default {
    display: none;
 }
 
 #logo:hover img#img-hover {
    display: inherit;
 }

 .bg-dark{
     background-color: #000 !important;
 }

.ordena{
    float:right;
    margin-left:15;
    color: #ffc107;
    display: none;
}

@media (min-width:770px){
    .ordena{
        display: inline-block;
    }
}